*{
    font-size: 1rem;
    font-family: 'Poppins';
    font-weight: 400;
    margin:0;
    padding: 0;
}

:root {
    /* color */
    --table-bg-color:#131018 ;
    --main-bg-color:#1C1824;
    --brighter-orange:#FE8C00;
    --darker-orange:#F83600;
    --text-color:#BBB4CC;
    --text-color-light:#D4CBE6;
    /* text sizes & weight*/
    --big-title:2.8rem;
    --small-title:1.5rem;
    --title:1.25rem;

    --light:300;
    --regular:400;
    --medium:500;
    --semibold:600;
    --bold:700;
  }

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    
    grid-template-columns: 4fr 1fr;
    grid-template-areas: 
    "t m"
    ;
}

.table{
    
    max-height: 100vh;
    background-color: var(--table-bg-color);
    color:var(--text-color);
    grid-area: t;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
	grid-template-rows: 46% 47% 7%;
    grid-template-areas: 
    /* g = game area, htp = how to play area*/
    "d d d d htp"
    "p p p p htp"
    "f f f f f"
    ;
}

.table .dealer-cards{
    grid-area: d;
    padding-left:32px;
}

.table .player-cards{
    grid-area: p;
    padding-left:32px;
}


.table .how-to-play{
    grid-area: htp;
    display: flex;
    justify-content: flex-end;
    height: 7%;
    align-items: center;
    padding-right: 32px;
    
}

.table .how-to-play p{
    padding-right: 10px;
}
.table h1{
    font-size: var(--big-title);
    font-weight: var(--semibold);
    margin:0;
    padding: 0;
}

.table footer{
    grid-area: f;
    background-color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px 0 32px;
    color:white;
    
}

.table footer p{
    font-weight: var(--light) ;
}





/* ---------------MENU------------ */
.menu{
    height: 100vh;
    background-color: var(--main-bg-color);
    grid-area: m;
    display: grid;
    grid-template-rows:7% 43% 25% 25%;
    grid-template-columns:100%;
    color:white;
    padding: 0 32px 0 32px;
}

.menu .nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu .nav .menu-settings img{
    width: 28px;
    
}

.menu .player-info{
    border:2px solid blue;
    display: grid;
    grid-template-rows:55% 10% 35%;
    grid-template-areas: 
        "m-pp" /* = menu-player picture*/
        "m-pn" /* = menu-player name*/
        "m-pd" /* = menu-player descripttion*/

    ;
    
}

.menu .player-info .profile-picture{
    width: 100px;
    height: 100px;
    background-color: var(--darker-orange);
    border-radius: 50%;
    grid-area: m-pp;
    justify-self: center;
    align-self: center;
    
}

.menu .player-info .player-name{
    justify-self: center;
    grid-area: m-pn;
}
.menu .player-info .player-description{
    grid-area: m-pd;
    justify-self: center;
    width: 80%;
    text-align: center;
    font-style: italic;
}

.menu .data{
    border:1px solid white;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.menu .data .data-area{
    border:1px solid red;
    display: grid;
    grid-template-areas:
    "t t t "
    "s tx tx";   
}

.menu .data .data-area-alt{
    border:1px solid red;
    display: grid;
    grid-template-areas:
    "d-name d-name d-name minus plus"
    "d-icon d-icon d-value d-value d-value";
       
}

.menu .data .data-area-alt .name{
    grid-area: d-name;
    align-self: start;
}

.menu .data .data-area-alt .minus-btn{
    grid-area: minus;
    background-color: var(--darker-orange);
    align-self: start;
    width: 100%;
    border-radius: 50%;
    color:white;
    border:none;
   
}
.menu .data .data-area-alt .plus-btn{
    grid-area: plus;
    background-color: var(--darker-orange);
    align-self: start;
    width: 100%;
    border-radius: 50%;
    color:white;
    border:none;
    margin-left: 1px;
    
    
}

.menu .data .data-area-alt .icon{
    grid-area: d-icon;
    align-self: end;
}

.menu .data .data-area-alt .value{
    grid-area: d-value;
    align-self: center;
    font-size: var(--small-title);
    justify-self: center;
    
}




.menu .data .data-area .name{
    grid-area: t;
}

.menu .data .data-area .icon{
    grid-area: s;
    align-self: end;
}

.menu .data .data-area .value{
    grid-area: tx;
    align-self: center;
    font-size: var(--small-title);
    justify-self: center;
    
}

.menu .buttons{
    border:1px solid green;
    display: grid; 
    padding: 16px 0 16px 0;
    grid-template-columns: calc(30% 30% 40%);
    grid-template-areas: 
     "h h1 d"
     "rg rg rd"
    ;
    gap:16px;
    align-items: center;
}

.menu .buttons button{
    border:0;
    height: 56px;
    font-weight: var(--medium);
    background-color: var(--darker-orange);
    color:white;
}

.menu .buttons .hit-btn{
    grid-area: h;
}

.menu .buttons .hold-btn{
    grid-area: h1;
}

.menu .buttons .double-btn{
    grid-area: d;
}

.menu .buttons .reset-game-btn{
    grid-area: rg;
}





@media only screen and (max-width: 1366px) {
    
    :root{
    /* text sizes*/
    --big-title:2.1rem;
    --small-title:1.2rem;
    --title:1.25rem;
    --text:0.75rem;
    }
    
    p{
        font-size: var(--text);
    }
    .table h1{
        font-size:var(--big-title);
    }

    .table .how-to-play img{
        width: 70%;

    }
    .menu{
        padding: 0 20px 0 20px;
    }
    .menu .nav .menu-settings img{
        width: 70%;
    }

    .menu .data .data-area span img{
        width: 32px;
    }

    .menu .data .data-area-alt span img{
        width: 32px;
    }


    .menu .buttons img{
        width: 100%;
    }



    
}